<ion-view class="wordpress-view" ng-class="{'bookmarks-view' : (lodash.size(recipes) == 0 && !isLoading) }">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-plus-empty" 
            ng-click="newRecipe()"
            ng-if="authUserData.isConnected"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>{{ category[defaultLang].name }}</span>
    </ion-nav-title>
    <ion-content>
        <div ng-if="(lodash.size(recipes) == 0 && !isLoading)" class="row bookmarks-container">
            <div class="col col-center">
                <div class="empty-results">
                    <i class="icon ion-ios-information-empty"></i>
                    <h3 class="no-bookmarks">No se encontraron recetas</h3>
                </div>
            </div>
        </div>
        <div class="posts-list">
            <div ng-repeat="recipe in recipes" class="list card post-item" ng-show="!lodash.isEmpty(recipe[defaultLang].title) || authUserData.isConnected">
                <div class="post-heading item item-text-wrap">
                    <h2 class="post-title" ng-bind-html="recipe[defaultLang].title | rawHtml"></h2>
                    <p class="post-author">
                        {{ recipe[defaultLang].subtitle }} <span></span>
                    </p>
                </div>
                <div class="post-content item item-text-wrap">
                    <p class="post-excerpt ng-binding">
                        <img ng-src="{{ recipe[defaultLang].image }}" width="100%" />
                        <p style="text-align: justify;">{{ recipe[defaultLang].description }}</p>
                    </p>
                    <div class="post-actions row">
                        <div class="actions col col-center col-66"></div>
                        <div class="read-more col col-center col-33">
                            <a ng-click="showRecipe(recipe)" class="button button-small button-block button-assertive">
                                {{ 'GENERAL.CONFIG.LIST_RECIPES.BUTTON' | translate }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>